# Скопируйте этот файл в .env и заполните значения

# Telegram
TELEGRAM_TOKEN=

# YouGile
YOUGILE_API_KEY=
YOUGILE_COMPANY_ID=

# Google Drive
GOOGLE_PROJECT_ID=doc-ussp
GOOGLE_DRIVE_FOLDER_ID=144ninjA21uig7fOQCDLpAOjheoG-Qaeb

# Путь к данным (для Docker)
DATA_DIR=/app/data
